@import "tailwindcss";

@theme {
  --color-dark-green: rgba(0, 79, 53, 1);
  --color-dark-blue: rgba(15, 51, 77, 1);
  --color-dark-red: rgba(146, 20, 12, 1);
  --color-grey: rgba(124, 137, 139, 1);
  --color-white: rgba(255, 248, 240, 1);
  --color-bright-green: rgba(181, 224, 29, 1);
  --color-bright-orange: rgba(224, 124, 29, 1);
  --color-bright-amber: rgba(224, 181, 29, 1);

  /* indicators */
  --color-indicator-ready: var(--color-bright-green);
  --color-indicator-action: var(--color-bright-orange);
  --color-indicator-ready-glow: color-mix(
    in srgb,
    var(--color-indicator-ready) 50%,
    transparent
  );
  --color-indicator-action-glow: color-mix(
    in srgb,
    var(--color-indicator-action) 50%,
    transparent
  );

  --color-bright-green-shadow-15: color-mix(
    in srgb,
    var(--color-bright-green) 15%,
    transparent
  );
  --color-bright-green-shadow-30: color-mix(
    in srgb,
    var(--color-bright-green) 30%,
    transparent
  );
  --color-bright-green-shadow-40: color-mix(
    in srgb,
    var(--color-bright-green) 40%,
    transparent
  );
}

body {
  font-family: "Inter", sans-serif;
}

/* Indicator System */
.indicator {
  transition: all 0.3s ease;
}

.indicator--ready {
  fill: var(--color-indicator-ready);
  filter: drop-shadow(0 0 9px var(--color-indicator-ready-glow));
}

.indicator--action .indicator__shape {
  fill: var(--color-indicator-action);
  filter: none;
  transition: filter 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.indicator-dot {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: var(--color-indicator-ready);
  filter: drop-shadow(0 0 6px var(--color-indicator-ready-glow));
}

/* State Management для ArrowIcon */
.group:hover .indicator--action .indicator__shape {
  filter: brightness(1.3);
}

.group.is-toggled .indicator--action .indicator__shape {
  filter: brightness(1.3) url(#premium-glow);
}
